// .header {
//     display: flex;
// }


.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: white;
  width: 100%;
  margin: 0 rem;
  &__brand {
    grid-column: 2/5;
    margin-bottom: -2.5vh;
    margin-top: 0;
    &__container {
      display: flex;
      cursor: pointer;
      img{
        width: 30%;
        margin-top: 10px;
      }
    }
  }
  &__tag {
    grid-column: 8/12;
    margin-top: 1rem;
    a {
      color: black;
      margin: 0 15px;
      text-decoration: none;
    }
  }
  &__user {
    grid-column: 10/12;
    margin-top: 0.5vh;
    img {
      max-width: 3vw;
      height: 6vh;
      border-radius: 100%;
    }
    &__dropdown {
      button {
        display: flex;
        color: black;
        background-color: white;
        border: solid;
        border-color: grey;
        border-radius: 10px;
      }
    }
    &__btn {
      grid-column: 5/12;
      border: 15px;
      font-size: 2.5vh;
      text-decoration: none;
      color: black;
      cursor: pointer;
      background-color: white;
      margin-top: 0.9rem;
      margin-left: 0.5rem;
      padding: 0 5px;
      a {
        border-radius: 5px;
      }
    }
    &__btn:hover {
      color: white;
    }
  }
}

.header_wrapper{
  width: 100%;
  height: 5em;
  box-shadow: 1px 1px 3px 1px #ccc;
  .profileNav{
      float: right;
  }
  .header_margin{
      margin-top: 1.25rem;
      color: #191919;
  }
  
  .search-bar{
      width: 40%;
  }
  
  .header-items_wrapper{
   text-align: center;
  }
  
  .ant-btn-primary{
      background: #8F48EA;
      border: none;
      outline: none;
  }
  
  .ant-btn-primary:hover{
      background: #383737;
      border-color: none;
      outline: none;
  }
  
  .ant-btn-primary:focus{
      background: #191919;
      outline: 0;
  }

  .avatar{
      float: right;
      margin-right: 1em;
  }

  .sign-in{
      float: right;
      margin-top: 2.1em;
      margin-right: 4em;
  }

  .username{
      margin-right: 1rem;
      position: relative;
      top: .3rem;
  }
  .ant-dropdown-link{
      margin-right: 3em;
  }
  .link{
      color: #8F48EA;
  }
  .linkoff{
      color: #383737;
  }
  .icon{
      font-size: 1.6em;
      transition: .3s;
  }
  .iconoff{
      font-size: 1.4em;
      transition: .3s;
  }
}